:root {
    --red-color: #901C1C; 
    --beige-color: #D3573C;
    --grey-color: #525252;
}
/* Css global */
header {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

video {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

h1 {
    color: var(--red-color);
}

/* css index */

.photographer_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
}

/* Css page photographe */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.contact_button {
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 6%;
    background-color: var(--red-color);
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#contact_modal {
    display: none;
}




