:root {
    --red-color: #901C1C; 
    --beige-color: #DB8876;
    --grey-color: #525252;
}

/*********** Css global **********/

body {
    font-family: 'DM Sans', sans-serif;
}

body, 
ul,
figure {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

video {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    color: var(--red-color);
}

/*********** CSS INDEX **********/

.photographer_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
}

.photographer_section figure {
    margin: 0 2rem;
}

@media (min-width: 1576px) {
    .photographer_section figure {
        margin: 0 4rem;
    }
}

@media (min-width: 1782px) {
    .photographer_section figure {
        margin: 0 7rem;
    }
}
/*********** CSS PAGE PHOTOGRAPHE **********/

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0rem 3.5rem 0rem 1rem;
    list-style: none;
}

i {
    font-size: 2em;
    cursor: pointer;
}

label {
    font-size: 25px;
}

@media (min-width: 1560px) { 
    .media { /* width photo gallery */
        width: 400px !important;
        height: 400px !important;
    }
}

.logo {
    margin: 1rem 3.2rem;
}

.contact_button {
    min-width: 120px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 6%;
    cursor: pointer;
    background-color: var(--red-color);
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.contact_button:hover {
    background-color: var(--beige-color);
}

.modal {
    margin: 5% auto;
    width: 100%;
    max-width: 550px;
    overflow: hidden;
    position: relative;
    box-shadow: -5px 5px 15px 1px var(--grey-color);
    border-radius: 4px;
    background-color: var(--beige-color);
    
}

.close_modal {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 130%;
    color: white;
}

.formData {
    margin: 1.5rem 1rem;
}

.text-control {
    width: 100%;
    border: 0.8px solid var(--grey-color);
    border-radius: 8px;
    font-size: 20px;
    height: 40px;
    margin: 0;
}

.modal header {
    display: block;
    margin: auto 1rem;
    font-size: 180%;
}

.modal h2 {
    margin: 1rem auto;
}

/*********** LIKES **********/

.fa-heart {
    margin-left: 10px;
    font-size: 24px;
}

/*********** ENCART **********/

.encart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #DB8876;
    font-weight: 500;
    font-size: 24px;
}

.total-likes-container {
    margin-left: 20px;
}

.photograph-price {
    margin-right: 20px;
}

/*********** TRIEUR **********/
select {
    border: none;
    border-radius: 5px;
    padding: 12px 10px;
    background-color: var(--red-color);
    color: white;
    font-weight: bold;
}

[id=labelTriage] {
    margin-left: 6rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: medium;
}

/*********** MODALE CONTACT **********/
[id=contact_modal] {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
}

[id=message] {
    height: 150px;
    font-size: 22px;
    font-family: inherit;
}

[id=modal_button] {
    margin: 1.5rem 1rem;
}

[id=modal_button]:hover {
    background-color: green;
}

/********** LIGHTBOX **********/
/* .close {
    color: var(--red-color);
    font-size: 35px;
    font-weight: bold;
}

.control {
    color: var(--red-color);
    font-size: 25px;
}

.cursor {
    cursor: pointer;
  } */

[id=lightbox] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.lightbox-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lightbox-media-container {
    position: absolute;
    top: 250px;
    width: 37%;
    height: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1850px) { /* ! CSS à revoir avec Phillipe pour le responsive lightbox */
    .lightbox-media-container {
        position: static;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* .lightbox-media-container {      code de base lightbox sans responsive
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.lightbox-media-container img,
.lightbox-media-container video {
    width: 1050px;
    height: 900px;
    object-fit: cover;
}

.lightbox-media-container img {
    object-position: 50% 35%;
}

.lightbox-media-figcaption {
    position: absolute;
    top: 870px;
    width: 37%;
    font-weight: 400;
    font-size: 24px;
    color: var(--red-color);
}

@media (min-width: 1850px) { /* ! CSS à revoir avec Phillipe pour le responsive lightbox */
    .lightbox-media-figcaption {
        position: static;
        width: 57%;
        font-weight: 400;
        font-size: 24px;
        color: var(--red-color);
    }
}

/* .lightbox-media-figcaption {     code de base lightbox sans responsive
    width: 57%;
    font-weight: 400;
    font-size: 24px;
    color: var(--red-color);
} */

.close_lightbox_btn {
    position: absolute;
    top: 20px;
    right: 330px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: var(--red-color);
    cursor: pointer;
}

.lightbox_btn {
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: var(--red-color);
    cursor: pointer;
}

.prev_lightbox_btn {
    left: 330px;
}

.next_lightbox_btn {
    right: 330px;
}



/* [id=lightbox] {
    display:none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: white;
} */
